n8n/workflows/vetcan-escalation.json
{
  "name": "VetCan – Alert Escalation {[post-gref A6.4]}",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=POST",
        "path": "5c279a74-a689-4d7b-a946-3e1a22d84437",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1488,
        104
      ],
      "id": "68be9cf5-a9bf-466e-91f0-36a0b674ec68",
      "name": "Webhook",
      "webhookId": "5c279a74-a689-4d7b-a946-3e1a22d84437"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.event_name}}",
                    "rightValue": "voice_state_transition",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3454ebfd-4ca0-4270-b3f3-83ab1e25e3c3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9086a4d-7085-41c2-beff-f8186bbb9979",
                    "leftValue": "={{$json.event_name}}",
                    "rightValue": "validation_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc7b8df9-af67-40c2-8567-1ec776bf6420",
                    "leftValue": "={{$json.event_name}}",
                    "rightValue": "callback_create_attempt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f950fc38-2eed-4872-b3f5-393646776a9a",
                    "leftValue": "={{$json.event_name}}",
                    "rightValue": "callback_create_result",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2b86ca33-9971-454c-973c-9063f64e050d",
                    "leftValue": "={{$json.event_name}}",
                    "rightValue": "ai_call_initiated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "28450c52-dc72-43bd-bec8-0a7454702a1d",
                    "leftValue": "={{$json.event_name}}",
                    "rightValue": "appointment_create_result",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -368,
        328
      ],
      "id": "60be46e6-2aa2-4c74-b012-b049be41a953",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vPT9PdL8Ihn8a6nAxGEPtzGY_19We0APktcCXX_kocg",
          "mode": "list",
          "cachedResultName": "RawEvents2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vPT9PdL8Ihn8a6nAxGEPtzGY_19We0APktcCXX_kocg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vPT9PdL8Ihn8a6nAxGEPtzGY_19We0APktcCXX_kocg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$json.occurred_at}}",
            "event_type": "={{$json.event_name}}",
            "from": "={{$json.from}}",
            "to": "={{$json.to}}",
            "correlation_id": "={{$json.correlation_id}}",
            "environment": "={{$json.environment}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment",
              "displayName": "environment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -128
      ],
      "id": "0e62806c-b853-4c12-bee0-5cb3eea3312f",
      "name": "Append row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vgsQEcxrO8FiJAe3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24a85635-6f5a-4113-b71b-d945c1989a28",
              "name": "event_name",
              "value": "={{$json.eventName}}",
              "type": "string"
            },
            {
              "id": "f839a4ca-de16-46a9-a9ab-180ddd415ada",
              "name": "occurred_at",
              "value": "={{$json.body.timestamp}}",
              "type": "string"
            },
            {
              "id": "b3c1c922-1725-498c-8f19-88c777b15210",
              "name": "correlation_id",
              "value": "={{$json.body.correlation_id || \"\"}}",
              "type": "string"
            },
            {
              "id": "745f9df9-7208-45d1-b1ff-c2577a443fa2",
              "name": "environment",
              "value": "={{$json.environment || \"local\"}}",
              "type": "string"
            },
            {
              "id": "fe198e73-bff5-418d-a040-04996d6f8c06",
              "name": "to",
              "value": "={{$json.body.payload?.to}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        392
      ],
      "id": "1ae027c6-afe7-44ad-81a7-e2d6be7810a5",
      "name": "Normalize",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        328
      ],
      "id": "f070bb98-c9ba-4695-ac37-bc35626bd3f5",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a1d6ec7-9a0e-4b7c-af95-b018ec56f301",
                    "leftValue": "=={{ $json.severityNormalized }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "458639dc-85e5-4415-8a06-5518ba2a7108",
                    "leftValue": "=={{ $json.severityNormalized }}",
                    "rightValue": "warning",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "warning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "207f34eb-63a4-4c0e-b23a-c6619132af94",
                    "leftValue": "=={{ $json.severityNormalized }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "critical"
            }
          ]
        },
        "options": {}
      },
      "id": "019fee4f-9873-4644-b11f-6bf5742ec5f6",
      "name": "Switch — Alert Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -368,
        -256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24a85635-6f5a-4113-b71b-d945c1989a28",
              "name": "triggeredAt",
              "value": "={{ $json.body && $json.body.triggeredAt ? $json.body.triggeredAt : $json.triggeredAt }}",
              "type": "string"
            },
            {
              "id": "f839a4ca-de16-46a9-a9ab-180ddd415ada",
              "name": "alertType",
              "value": "={{ $json.body && $json.body.alertType ? $json.body.alertType : $json.alertType }}",
              "type": "string"
            },
            {
              "id": "fe198e73-bff5-418d-a040-04996d6f8c06",
              "name": "ageSeconds",
              "value": "={{ $json.body && ($json.body.ageSeconds !== undefined && $json.body.ageSeconds !== null) ? $json.body.ageSeconds : $json.ageSeconds }}",
              "type": "number"
            },
            {
              "id": "745f9df9-7208-45d1-b1ff-c2577a443fa2",
              "name": "environment",
              "value": "={{ $json.body && $json.body.environment ? $json.body.environment : $json.environment }}",
              "type": "string"
            },
            {
              "id": "4f447fe3-52b6-46ed-8cc7-1651d2c5c8cb",
              "name": "severity",
              "value": "={{ $json.body && $json.body.severity ? $json.body.severity : $json.severity }}",
              "type": "string"
            },
            {
              "id": "1eadf887-d0e2-4e61-95f9-a90e40293eba",
              "name": "eventName",
              "value": "={{ $json.body && $json.body.eventName ? $json.body.eventName : $json.eventName }}",
              "type": "string"
            },
            {
              "id": "7d85f7fd-1487-4785-a17a-0f058a180ef8",
              "name": "callSid",
              "value": "={{ $json.body && $json.body.callSid ? $json.body.callSid : $json.callSid }}",
              "type": "string"
            },
            {
              "id": "769a820e-fce4-4bb2-a6a6-ea52c1f1fd47",
              "name": "severityNormalized",
              "value": "={{ ($json.body.severity || 'info').toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "32b1a20c-cab6-44d6-a061-a475783b6b3b",
              "name": "summary",
              "value": "={{    `[${$json.body.severity.toUpperCase()}] ` +   `${$json.body.eventName} ` +   `(${ $json.body.alertType }) ` +   `env=${ $json.body.environment } ` +   `age=${ $json.body.ageSeconds }s ` +   `sid=${ $json.body.callSid }` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -240
      ],
      "id": "207ab4ec-aae8-4b71-8afe-b4489520b449",
      "name": "Normalize Alert Escalation",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0097c1df-6313-409e-8635-6e80af5e7000",
              "name": "event_id",
              "value": "={{$json.event_id || $json.body.event_id}}",
              "type": "string"
            },
            {
              "id": "f9ccad0e-7eaa-48de-baa8-8989ad143ae9",
              "name": "dedupe_key",
              "value": "={{$json.dedupe_key || $json.body.dedupe_key}}\n",
              "type": "string"
            },
            {
              "id": "437c2cda-258a-4ee1-a93d-b8d7dba1fcf5",
              "name": "event_type",
              "value": "={{$json.event_type || $json.body.event_type || $json.event_name || $json.body.event_name}}\n",
              "type": "string"
            },
            {
              "id": "97ab66ba-8f38-4533-ba3a-6ed1453e9981",
              "name": "severity",
              "value": "={{($json.severity || $json.body.severity || 'info').toLowerCase()}}\n",
              "type": "string"
            },
            {
              "id": "c63e3483-418e-40c1-9e2c-7a96245abbeb",
              "name": "occurred_at",
              "value": "={{$json.occurred_at || $json.body.occurred_at || $now.toISO()}}",
              "type": "string"
            },
            {
              "id": "26ab43b7-1460-436f-80ca-b40990bc1ff1",
              "name": "data",
              "value": "={{$json.data || $json.body.data}}",
              "type": "object"
            },
            {
              "id": "1f87bd75-b9f9-427d-8899-1770e6ca9187",
              "name": "environment",
              "value": "={{$json.data?.environment || $json.environment || 'local'}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        104
      ],
      "id": "2f8c34c0-426f-4194-8d0e-3bb75eacf7c1",
      "name": "Canonical Normalize (Lifecycle)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ofawihtqxxumzegskknr.functions.supabase.co/vetcan-resolution-callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={   \"event_id\": \"{{$json.event_id}}\",   \"dedupe_key\": \"{{$json.dedupe_key}}\",   \"state\": \"resolved\",   \"resolved_by\": \"automation\",   \"idempotency_key\": \"res:{{$json.event_id}}\",   \"note\": \"n8n completed escalation workflow\",   \"source\": \"n8n\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        -560
      ],
      "id": "4df4c74c-02bb-473a-aa61-e3bc02c6a1f4",
      "name": "Resolve Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ofawihtqxxumzegskknr.functions.supabase.co/vetcan-resolution-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"={{$json.event_id}}\",\n  \"dedupe_key\": \"={{$json.dedupe_key}}\",\n  \"state\": \"failed\",\n  \"resolved_by\": \"automation\",\n  \"idempotency_key\": \"fail:{{$json.event_id}}\",\n  \"note\": \"critical alert escalated to human\",\n  \"source\": \"n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        248
      ],
      "id": "a06a3b9b-2de9-4805-896c-33230d73dbea",
      "name": "FAIL Callback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ab5a24d-95cb-4956-b5a8-3bc4fb95e460",
              "name": "event_id",
              "value": "={{$json.event_id}}",
              "type": "string"
            },
            {
              "id": "0c00023a-2fad-4423-a16c-717caac4177d",
              "name": "dedupe_key",
              "value": "={{$json.dedupe_key}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        136
      ],
      "id": "0152487a-653f-488a-b81a-269a759ae1da",
      "name": "Preserve Lifecycle Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0baacb98-6421-424b-9c99-ec036a1a01a1",
              "leftValue": "={{$json.event_id}}",
              "rightValue": "is not empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1040,
        104
      ],
      "id": "4e553b49-3b71-4c76-8164-e64d56494bb2",
      "name": "If"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -424
      ],
      "id": "cec8ea7c-843b-4b2b-8b53-371f99d4e037",
      "name": "SLA Guard — Warning"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        80,
        -424
      ],
      "id": "f28a287c-348d-4cb6-a373-f9e33c0759ed",
      "name": "SLA Wait — Warning (30m)",
      "webhookId": "f353a352-6cd0-47f7-a1f4-6e2f38872d5a"
    },
    {
      "parameters": {
        "url": "={{`https://ofawihtqxxumzegskknr.supabase.co/rest/v1/operational_event_state_current?event_id=eq.${$json.event_id}&select=state,last_transition_source`}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        -424
      ],
      "id": "e1539b8e-794d-4254-b816-60326687870f",
      "name": "SLA State Lookup — Warning"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "747f52e5-30d4-4cbb-b815-04d9bf40227a",
              "name": "current_state",
              "value": "={{$json[0]?.state || ''}}",
              "type": "string"
            },
            {
              "id": "a581de0d-4b54-4290-b206-7555656f1258",
              "name": "current_source",
              "value": "={{$json[0]?.last_transition_source || ''}}",
              "type": "string"
            },
            {
              "id": "0d55da2e-38e3-4566-9723-c2ae0847fca2",
              "name": "state_missing",
              "value": "={{!$json[0] || !$json[0].state}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -424
      ],
      "id": "0887c8b1-0b0f-4811-85ca-e6bc3724716b",
      "name": "SLA Normalize State — Warning"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f8c45299-717f-4cb6-8927-912aff8d6864",
              "leftValue": "={{$json.current_state}}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        -424
      ],
      "id": "4583f68b-ea0e-4a1e-aab6-aaa27f97503e",
      "name": "SLA Proceed? — Warning"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -512
      ],
      "id": "51bcd8be-b591-4ade-ae76-36aab27b76a0",
      "name": "SLA Mark Escalated — Warning"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -320
      ],
      "id": "cbca9629-d24d-454a-9913-669746b9fd33",
      "name": "SLA Mark Cancelled — Warning"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        40
      ],
      "id": "f9df75e1-0b8b-451a-b09b-3ef09c7ab24c",
      "name": "SLA Mark Escalated — Critical"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        232
      ],
      "id": "0e312738-7add-4405-90af-513dc322efd7",
      "name": "SLA Mark Cancelled — Critical"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        56
      ],
      "id": "a68ed3fe-9368-4d24-9e88-b47ea50b532a",
      "name": "SLA Guard — Critical"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        80,
        56
      ],
      "id": "7555e0ef-54c2-49c2-bb21-3cb9ecc21dac",
      "name": "SLA Wait — Critical (5m)",
      "webhookId": "436519ae-158f-4aa5-b8e1-04386bd18a83"
    },
    {
      "parameters": {
        "url": "={{`https://ofawihtqxxumzegskknr.supabase.co/rest/v1/operational_event_state_current?event_id=eq.${$json.event_id}&select=state,last_transition_source`}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        56
      ],
      "id": "636981db-2dac-4e49-92e3-ebfc7297dd52",
      "name": "SLA State Lookup — Critical"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e421ea1-8508-49b0-920a-f55e261b2ce1",
              "name": "current_state",
              "value": "={{$json[0]?.state || ''}}",
              "type": "string"
            },
            {
              "id": "6defbbc7-5771-46d1-86cd-525175d05f12",
              "name": "current_source",
              "value": "={{$json[0]?.last_transition_source || ''}}",
              "type": "string"
            },
            {
              "id": "a6496ec1-3151-4e9b-baf3-344d005b24aa",
              "name": "state_missing",
              "value": "={{!$json[0] || !$json[0].state}}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        56
      ],
      "id": "cbcc3556-5abf-4bf6-9e34-904661bf007b",
      "name": "SLA Normalize State — Critical"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d55cf49-2e35-47e7-99de-ec198cedc475",
              "leftValue": "={{$json.current_state}}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        56
      ],
      "id": "a49bcf8c-ce25-4a3a-a666-fd18cac5db48",
      "name": "SLA Proceed? — Critical"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ofawihtqxxumzegskknr.functions.supabase.co/vetcan-resolution-callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"={{ $json.event_id }}\",\n  \"dedupe_key\": \"={{ $json.dedupe_key }}\",\n  \"state\": \"acknowledged\",\n  \"resolved_by\": \"automation\",\n  \"idempotency_key\": \"={{ 'ack:' + $json.event_id }}\",\n  \"note\": \"n8n acknowledged escalation after SLA\",\n  \"source\": \"n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -512
      ],
      "id": "d227a3be-abdb-4abe-aacc-47aafb4a29f4",
      "name": "Acknowledge (SLA) — Warning"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ofawihtqxxumzegskknr.functions.supabase.co/vetcan-resolution-callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mYXdpaHRxeHh1bXplZ3Nra25yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMzcxMDYsImV4cCI6MjA4NDkxMzEwNn0.IRgWOqnRee_2GClBRtagg_FneEtPEhvkF-_WPz5DZbU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"={{ $json.event_id }}\",\n  \"dedupe_key\": \"={{ $json.dedupe_key }}\",\n  \"state\": \"acknowledged\",\n  \"resolved_by\": \"automation\",\n  \"idempotency_key\": \"={{ 'ack:' + $json.event_id }}\",\n  \"note\": \"n8n acknowledged escalation after SLA\",\n  \"source\": \"n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        40
      ],
      "id": "2c0479c1-b3b6-4643-b987-dfdfcd3e4b51",
      "name": "Acknowledge (SLA) — Critical"
    },
    {
      "parameters": {
        "from": "+18556008710",
        "to": "+16892785991",
        "message": "CRITICAL VetCan Alert{{$json.alertType}}Age {{$json.ageSeconds}}sCall {{$json.callSid || \"N/A\"}}http://localhost:5173/metrics",
        "options": {}
      },
      "id": "876f954f-211e-41af-a181-c1a81f7baf5c",
      "name": "SMS Staff (Critical)1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1648,
        248
      ],
      "credentials": {
        "twilioApi": {
          "id": "xWvTGVNFo2tV4Wf1",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ofawihtqxxumzegskknr.functions.supabase.co/vetcan-resolution-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"={{$json.event_id}}\",\n  \"dedupe_key\": \"={{$json.dedupe_key}}\",\n  \"state\": \"failed\",\n  \"resolved_by\": \"automation\",\n  \"idempotency_key\": \"fail:{{$json.event_id}}\",\n  \"note\": \"critical alert escalated to human\",\n  \"source\": \"n8n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1488,
        680
      ],
      "id": "fdf6c352-1f0f-47b4-844c-8f7375fe2655",
      "name": "FAIL Callback1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ab5a24d-95cb-4956-b5a8-3bc4fb95e460",
              "name": "event_id",
              "value": "={{$json.event_id}}",
              "type": "string"
            },
            {
              "id": "0c00023a-2fad-4423-a16c-717caac4177d",
              "name": "dedupe_key",
              "value": "={{$json.dedupe_key}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        -560
      ],
      "id": "7c06278a-a528-4d6f-895b-8442d8df3f59",
      "name": "Preserve Lifecycle Context (resolve)"
    },
    {
      "parameters": {
        "fromEmail": "adam.hoodtech@gmail.com",
        "toEmail": "adam.hoodtech@gmail.com",
        "subject": "VetCan Alert - {{json.severity.toUpperCase()}}",
        "text": "Alert Type: {{$json.alertType}}Event: {{$json.eventName}}Environment: {{$json.environment}}Severity: {{$json.severity}}Age: {{$json.ageSeconds}} secondsCall SID: {{$json.callSid || \"N/A\"}}Metrics Dashboard:http://localhost:5173/metricsAdmin Dashboard:http://localhost:5173/",
        "options": {}
      },
      "id": "6c429612-2e6e-4dbd-8cfb-02cedfaff379",
      "name": "Email Staff (Alert)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1424,
        -512
      ],
      "webhookId": "83c1b645-5220-492e-90d6-c628cfcc5510",
      "credentials": {
        "smtp": {
          "id": "EMs6uL5uzGmcrvjy",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Canonical Normalize (Lifecycle)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Alert Severity": {
      "main": [
        [],
        [
          {
            "node": "SLA Guard — Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SLA Guard — Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Alert Escalation": {
      "main": [
        [
          {
            "node": "Switch — Alert Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canonical Normalize (Lifecycle)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Resolve Event": {
      "main": [
        []
      ]
    },
    "FAIL Callback": {
      "main": [
        []
      ]
    },
    "Preserve Lifecycle Context": {
      "main": [
        [
          {
            "node": "SMS Staff (Critical)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalize Alert Escalation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Guard — Warning": {
      "main": [
        [
          {
            "node": "SLA Wait — Warning (30m)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Wait — Warning (30m)": {
      "main": [
        [
          {
            "node": "SLA State Lookup — Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Guard — Critical": {
      "main": [
        [
          {
            "node": "SLA Wait — Critical (5m)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Wait — Critical (5m)": {
      "main": [
        [
          {
            "node": "SLA State Lookup — Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA State Lookup — Critical": {
      "main": [
        [
          {
            "node": "SLA Normalize State — Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Normalize State — Critical": {
      "main": [
        [
          {
            "node": "SLA Proceed? — Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Normalize State — Warning": {
      "main": [
        [
          {
            "node": "SLA Proceed? — Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA State Lookup — Warning": {
      "main": [
        [
          {
            "node": "SLA Normalize State — Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Proceed? — Warning": {
      "main": [
        [
          {
            "node": "SLA Mark Escalated — Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SLA Mark Cancelled — Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Proceed? — Critical": {
      "main": [
        [
          {
            "node": "SLA Mark Escalated — Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SLA Mark Cancelled — Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Mark Escalated — Warning": {
      "main": [
        [
          {
            "node": "Acknowledge (SLA) — Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge (SLA) — Warning": {
      "main": [
        [
          {
            "node": "Email Staff (Alert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Staff (Alert)": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preserve Lifecycle Context (resolve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Lifecycle Context (resolve)": {
      "main": [
        [
          {
            "node": "Resolve Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Mark Escalated — Critical": {
      "main": [
        [
          {
            "node": "Acknowledge (SLA) — Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge (SLA) — Critical": {
      "main": [
        [
          {
            "node": "Preserve Lifecycle Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Staff (Critical)1": {
      "main": [
        [
          {
            "node": "FAIL Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Mark Cancelled — Critical": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Mark Cancelled — Warning": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4aab6b36-44fa-43e1-b7d1-04f08a8825b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8376bce67cef2eb0123aeec27235b52e4b013d25abccf8984db07b728f1f19d6"
  },
  "id": "eYjT6B1uFoeT6vn1",
  "tags": []
}